@page
@model IndexModel
@{
    ViewData["Title"] = "Abrahan's";
}
@{
    // Initalize our empty vars for the projects
    var result = "";
    var projectName = "";
    var goal = "";
    var languages = "";
    var frameworks = "";
    var cloud = "";
    var githubLink = "";
    var demoLink = "";
    var githubText = "";
    var demoText = "";
    var buttonstyle = "flex";
    var githubalign = "left";
    var demoalign = "left";
    // Lets us disable the project template and reenable when we need to
    var style = "display:none";

    var pstyleColor = "#F3EFE0";
    if(Request.Method == "POST")
    {
       // Lets us parse the command box
       var command = Request.Form["commandText"];
       // Gives us our various commands that we can use on the site
       switch(command)
       {
           // List of overall commands
           case "commands":
           result = "The following commands are available: project1, and clear.";
           break;

            // Clears the prompt
            case "clear":
            result = "";
            break;

            // Project 1 - Gofetch
            case "project1":
            style = "flex";
            pstyleColor = "#F3EFE0";
            projectName = "Gofetch";
            goal = "Goal: To create a platform that allows users to recieve Instagram pictures of pets through various mediums.";
            languages = "Languages used: Python, and Golang";
            frameworks = "Frameworks and libraries used: DiscordGo, Flask, Selenium, BeautifulSoup4, Click, and Requests.";
            cloud = "Cloud and database used: Microsoft's Azure, and PostgreSQL";
            githubLink = "https://github.com/zenith110/Gofetch";
            buttonstyle = "display:none";
            demoText = "Demo";
            githubText = "Github Repo";
            githubalign = "center";
            break;
            

            default:
                result = "Sorry, but that command is not in the list of commands. Please try again.";
                pstyleColor = "White";
                break;
       }
    }
}


<!----------Main portion of the site------------>
<div class="text-center">
    <h1 class="display-4" style="color:@pstyleColor">Welcome to Abrahan's Portfolio</h1>
    <p style="color:@pstyleColor">To get started: type in "commands" to access our various commands available.</p>
    <div class = "Command window">
    <label style="color:green">guest@abrahannevarez.dev:~#</label>
        <form action ="" method="POST">
        <!---Input the various commands--->
            <input type="text" name="commandText" class="input-box"/>
        
        <!---Spits out some result text-->
        <p style="color:@pstyleColor">@result</p>
        <!---------------Begins the project template for each project passed through in post------------------------->
        <!--Change the variable of style to change the various different styles---->
            <div id="ProjectDisplay"  style="@style">
            <left>
                <h2 style="color:@pstyleColor;text-align:left">@projectName</h2>
                <h5 style="color:@pstyleColor;text-align:left">@goal</h4>
                <li style="color:@pstyleColor;text-align:left">@languages</li>
                <li style="color:@pstyleColor;text-align:left">@frameworks</li>
                <li style="color:@pstyleColor;text-align:left">@cloud</li>
                <p align="@githubalign">
			    <button type="button" class="btn btn-secondary"><a href="@githubLink"  target = "_blank">@githubText</a></button></p>
                <p align="@demoalign">
                <button type="button" class="btn btn-secondary" style="@buttonstyle"><a href="@demoLink" class="button2" target = "_blank">@demoText</a></button>
            </div>
        </form>
</div>


